body{
  background-color: #dce0e6;   
}

.backgroundImage{
  background-image: url("../images/logo.png");
  width: 85vh;
  height: 90vh;
  max-width: 100%;
  margin:0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;

}

.imgsobre {
  border-radius: 80%;
  width: 30vh;
  height: 30vh;

}