
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&family=Source+Code+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");
:root {--cor1: #ff8800}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans Caption', sans-serif;
}

a, a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #dce0e6;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  justify-content: space-between;
}


/*Navbar*/
.navbar {
  padding: 10px 30px;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  color: var(--cor1);
}

.navbar-options {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}

.navbar-options-item{
   font-family:serif;
    padding: 20px;
}

.navbar-options-item a, .navbar-options-item a:visited {
  color: #244ce4;
}

.navbar-options-item a:hover, .navbar-options-item a:visited:hover {
  color: #ff8800;
}


/*Footer*/
footer {
  font-size: 1em;
  padding: 2em 10vw;
  background-color: #212121;
  color: var(--cor1);
  text-align:center
  
}
