* {
  margin: 0px;
  padding: 0px;
  font-family: 'Arial', serif;
}

main {
  width: 100%;
  margin: 0 auto;
}

.title-container {
  padding: 20px;
  font-size: 2em;
  text-shadow: 2px 2px 4px black;
  color: black;
}

.tags {
  padding: 20px;
  font-family: unset;
  border-radius: 20px 20px;
  color: black;
}

.tags h2 {
  font-size: 2.5em;
  color: black;
  padding: 20px 0;
}

.tags-list {
  font-size: 1.3em;
  list-style-type: none;
}

.tags-list li {
  padding: 8px;
  border-bottom: 1px solid rgb(0,0,0);
  display:flex;
  flex-direction: column;
}

.tag-name {
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
  color: black;
}


.tag-description {
  color: white;
  padding: 0 25px;
  width:fit-content;
}


.tags-list li:hover a {
  margin: 0px; 
  display: block; 
  width: 100%; 
  height: 100%;
  color: white;
}
