* {
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans Caption', sans-serif;
}

main {
  width: 100%;
  margin: 0 auto;
}

.title-container {
  padding: 20px;
  font-size: 2em;
  text-shadow: 2px 2px 4px #000000;
  background-color: #292929;
  color: #FF8303;
}

.tags {
  padding: 20px;
  font-family:unset;
  border-radius: 20px 20px;
}

.tags h2 {
  font-size: 3.5em;
  color: #FF8303;
  padding: 20px 0;
  text-align: center;
}

.tags-list {
  font-size: 1.3em;
  list-style-type: none;
}

.tags-list li {
  padding: 8px;
  border-bottom: 1px solid rgb(0,0,255);
  display:flex;
  flex-direction: column;
}

.tags-list a {
  color: #FF8303;
}

.tag-name {
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
}

.tag-name span {
  visibility: hidden;
}

.tag-description {
  color: black;
  padding: 0 25px;
  width:fit-content;
}


.tags-list li:hover a {
  margin: 0px; 
  display: block; 
  width: 100%; 
  height: 100%;
  color: blue;
}


.tags-list li:nth-last-child(-n+1) {
  border: none;
}
