
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&family=Source+Code+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");
:root {--cor1: #FF8303}
* {
  font-family: 'PT Sans Caption', sans-serif;
  
}

a, a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #A66CFF;
  display:flex;
  margin:0;
  flex-direction: column;
}


/*Navbar*/
.navbar {
  background-color: #9C9EFE;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  margin: 1em;
  border-radius: 5em;
}

.navbar-options {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar-options-itemleft{
  position:relative;
  left:3em;
}
.navbar-options-itemright{
  position:relative;
  right: 3em;
}
.selected{
  color: gray;
}


.navbar-options-item a:hover, .navbar-options-item a:visited:hover {
  opacity: 70%;
  
}

.text {
  margin: 1em;
  padding: 1.5em;
  color:black;    
}


.button {
  background-color: #9C9EFE;
  padding:1em;
  border-radius: 5em;
}

button:hover{
    opacity: 80%;   
    border: solid 2px black;
}
/*Footer*/
.foot {
  background-color: #9C9EFE;
  display: flex;
  color: #A66CFF;
  align-items: center;
  margin-top: auto;
  flex-direction: column;
}